@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap"); /*  Isto importa as fontes que quero para que funcionem em qualquer broswer */
* {
  box-sizing: border-box;
}

body {
  background: #27273d
    url("https://st4.depositphotos.com/10599158/20419/v/380/depositphotos_204196270-stock-illustration-quiz-night-announcement-poster-vector.jpg")
    no-repeat center center/cover;
  color: rgba(255, 255, 255, 0.87);
  font-family: "Recursive", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
 
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body * {
  z-index: 1;
}


}

h1,
h2 {
  margin-bottom: 5;
  
}

h2 {
  font-size: 1.17rem; /*O rem é usado interligado ao fontsize parent inicial, o tamanho em si deveria ja estar
  defenido pelo proprio H2 que tem o seu devido tamanho, mas deste modo sei que vai adaptar-se melhor a qualquer pagina */
}

p {
  line-height: 1.5;
  margin: 0;
}



.msg {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.box {
  border: 1px solid #dedede;
  display: inline-block;
  font-size: 1.875rem;
  margin: 1.25rem;
  padding: 0.625rem;
}

}
.micro{text-align:center}
